#Question1

ineuron  
ineuron   ineuron  
ineuron   ineuron   ineuron  
ineuron   ineuron   ineuron   ineuron

In [1]:
n = 4

for i in range(n):
    for j in range(i+1):
        print("ineuron",end = " ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

#Question2

           ineuron 
    ineuron         ineuron   
ineuron     ineuron       ineuron 
    ineuron         ineuron  
           ineuron

In [2]:
c = 5
n = 5

if c % 2 == 0:
    k = int(c / 2)
else:
    k = int((c+1)/2)

for i in range(1,n+1):
    if i <= k:
        for j in range(i,k+1):
                print(" " * len("ineuron"),end = " ")
        for y in range(2):
                for j in range(i):
                    print("ineuron",end=" ")
        print()
    elif i > k:
        i = n - i + 1
        for j in range(i,k+1):
                print(" " * len("ineuron"),end = " ")
        for y in range(2):
                for j in range(i):
                    print("ineuron",end=" ")
        print()

                        ineuron ineuron
                ineuron ineuron ineuron ineuron
        ineuron ineuron ineuron ineuron ineuron ineuron
                ineuron ineuron ineuron ineuron
                        ineuron ineuron

In [3]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science "]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [5]:
#try to extract all the list entity

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [6]:
#try to extract all the dict entities
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [7]:
#q5 - try to extract all the tuple entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [8]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [9]:
#q6 - try to extract all the numerical data - it may be a part of dictionary key and values
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j)
    elif type(i) == dict:
        for d in i.items():
            if (type(d[0]) == int or type(d[1]) == int):
                print(d)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
(3, 6)
(7, 8)

In [10]:
#q7 - try to give a summation of all the numeric data
sum = 0
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                sum = sum + j
    elif type(i) == dict:
        for d in i.items():
            if type(d[0]) == int:
                sum = sum + d[0]
            if type(d[1]) == int:
                sum = sum + d[1]

print(sum)

156

In [11]:
#q8 - try to filter out all the odd values out of all numeric data which is part of a list

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                if j % 2 != 0 :
                    print(j)
                    
    elif type(i) == dict:
        for d in i.items():
            if type(d[0]) == int:
                if d[0] % 2 != 0 :
                    print(d[0])
            if type(d[1]) == int:
                if d[1] % 2 != 0 :
                    print(d[1])

1
3
3
5
3
5
7
45
5
23
3
7

In [12]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [13]:
#q9 - try to extract "ineuron" out of this data

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == 'ineuron':
                    print(j)
                    
    elif type(i) == dict:
        for d in i.items():
            if d[0] == 'ineuron':
                    print(d[0])
            if d[1] == 'ineuron':
                    print(d[1])

ineuron
ineuron

In [14]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [15]:
#q10 - try to find out a number of occurences of all the data
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
                    
    elif type(i) == dict:
        for d in i.items():
             l1.append(d[0])
             l1.append(d[1])
            
for k in set(l1):
    print(k,l1.count(k))

1 1
2 2
3 4
4 4
5 3
6 3
7 2
8 1
k3 1
45 1
kumar 1
sudh 1
23 1
data science  1
k1 1
ineuron 2
k2 1

In [16]:
#q11 - try to find out number of keys in dictionary element
for i in l:
      if type(i) == dict:
        for d in i.items():
            print(d[0])

k1
k2
k3
3
7

In [17]:
#q12 - try to filter out all the string data
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                    print(j)
                    
    elif type(i) == dict:
        for d in i.items():
            if type(d[0]) == str:
                    print(d[0])
            if type(d[1]) == str:
                    print(d[1])

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [18]:
#q13 - try to find out alphanumeric in data
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str and j.isalnum():
                    print(j)
                    
    elif type(i) == dict:
        for d in i.items():
            if type(d[0]) == str and d[0].isalnum():
                    print(d[0])
            if type(d[1]) == str and d[1].isalnum():
                    print(d[1])

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [19]:
#q14 - try to find out multiplication of all numeric value in individual collections inside dataset
mul = 1
count = 0
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                    count = count + 1
                    mul = mul * j
        if count > 0:
            print(mul)
        mul = 1
        count = 0
                    
    elif type(i) == dict:
        for d in i.items():
            if type(d[0]) == int:
                    mul = mul * d[0]
                    count = count + 1
            if type(d[1]) == int:
                    mul = mul * d[1]
                    count = count + 1
        if count > 0:
            print(mul)
        mul = 1
        count = 0

24
720
2520
20700
1008

In [20]:
#q15 - to unwrap all collections inside colections and create a flat list
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
                    
    elif type(i) == dict:
        for d in i.items():
             l1.append(d[0])
             l1.append(d[1])
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']