In [1]:
#Q1:try to print a prime number in between 1 to 1000

for i in range(2,1000):
    prime = True
    for j in range(2,i):
        if i % j == 0:
            prime = False
            break
    if prime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [2]:
#Q2) try to write a function which is equivalent to print function in python
import sys
def print1(*a):
    for i in a:
        if type(i) != str:
            i = str(i)
        sys.stdout.write(i)
        sys.stdout.write(" ")

In [3]:
print1("hi",(8,9),"helo")

hi (8, 9) helo

In [4]:
#Q3) try to write a function whic is replica of list append,extend and pop function

def append1(l,a):
    l1 = []
    t = len(l) + 1
    for m in range(t):
        l1[m:1] = '0' 
    for i in range(len(l)):
        l1[i] = l[i]
    j = i+1
    l1[j] = a
    
    return l1

def extend1(l,a):
    l1 = []
    if type(a) == int or type(a) == float:
        return "error"
    if type(a) == set:
        a = list(a)
    if type(a) == dict:
        a = list(a.keys())
    t = len(l) + len(a)
    for m in range(t):
        l1[m:1] = '0'
    for i in range(len(l)):
        l1[i] = l[i]
    j = i + 1
    
    for k in range(len(a)):
        l1[j] = a[k]
        j = j+1
    return l1

def pop1(l,a=-1):
    
    if len(l) > 0:
        g = len(l) - 1
        l = l[0:g]
    return l

In [5]:
g = [1,2,3,4,5,6,7,8,9]
b = append1(g,[0,9])
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, [0, 9]]

In [6]:
a = [8,9,0,6]
a = extend1(a,'9')
a

[8, 9, 0, 6, '9']

In [7]:
b = [1,2,3,4,5]

In [8]:
b = pop1(b)
b

[1, 2, 3, 4]

In [9]:
#Q4 try to write a lambda function which can return a concatenation of all string which we will pass
j = ""
n = lambda a,b,c : a+b+c

In [10]:
n("hi","hello","good")

'hihellogood'

In [11]:
#Q5 try to write a lambda function which can return list of squares of all data between 1 - 100

sqr = lambda : [i ** 2 for i in range(1,101)]

In [12]:
sqr()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [13]:
#Q6 try to write 10 different example of lambda function

f1 = lambda a,b : a+b

f2 = lambda s : len(s) + 10
    
f3 = lambda : [i**2 for i in range(10)]

f4 = lambda a,b:  a.extend(b)

f5 = lambda : 'prime' * 5

f6 = lambda f : f+10

f7 = lambda x: x%2 == 0

f8 = lambda a,b,c : a*b*c

f9 = lambda **kwargs : [i  for i in kwargs.values()]

f10 = lambda **kwargs : [i*10 for i in kwargs.values()]

In [14]:
f1(6,7)

13

In [15]:
f2("delhi")

15

In [16]:
f3()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
a = [0.9]
b = [7,8]
f4(a,b)
a

[0.9, 7, 8]

In [18]:
f5()

'primeprimeprimeprimeprime'

In [19]:
f6(8)

18

In [20]:
f7(9)

False

In [21]:
f8(6,8,9)

432

In [22]:
f9(k1= 1,k2= 6,k3 ="hello")

[1, 6, 'hello']

In [23]:
f10(k1= 1,k2= 6,k3 ="hello")

[10, 60, 'hellohellohellohellohellohellohellohellohellohello']

In [24]:
#Q7) try to write a function which can perform a read operation from txt file

with open('sample.txt','r') as f:
    lines = f.read()
    print(lines)

hi,this is sample file
this is python program to read file
this is new program